body{
    background: #212121;
    color: white;
    
}
.center{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
}
#clock{
    background: orange;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 40px;
}